[Unit]
Description=NetworkTables-Powered Raspberry Pi Control Daemon
After=network.target

[Service]
ExecStart=/usr/bin/python2.7 /usr/local/bin/control_daemon.py

[Install]
WantedBy=multi-user.target
